*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font_family);
}

:root{
    /* Cores Primárias */
    --Purple_50: hsl(260, 100%, 95%);
    --Purple_300: hsl(264, 82%, 80%);
    --Purple_500: hsl(263, 55%, 52%);

    /* Cores neutras */
    --White: hsl(0, 0%, 100%);
    --Grey_100: hsl(214, 17%, 92%);
    --Grey_200: hsl(0, 0%, 81%);
    --Grey_400: hsl(224, 10%, 45%);
    --Grey_500: hsl(217, 19%, 35%);
    --Dark_blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

    /* fonte */
    --font_family: "Barlow Semi Condensed", sans-serif;
}

body{
    background-color: var(--Grey_200);
}

#container{
    display: grid;
    grid-template-areas: 
        "daniel_clifford"
        "jonathan_walters"
        "jeanette_harmon"
        "patrick_abrams"
        "kira_whittle"
    ;
    gap: 40px;
    padding: 20px;
}

/*Daniel Clifford*/
#daniel{
    grid-area: "daniel_clifford";
    background-color: var(--Purple_500);
    padding: 35px;
    border-radius: 15px;
}

#daniel h2{
    margin: 20px 0px;
    color: var(--Purple_50);
    line-height: 1.3;
}

#daniel img{
    border: 2px solid var(--Purple_300);
}

#daniel p {
    color: var(--Grey_200);
    line-height: 1.4;
}

/* jonathan walters */
#jonathan{
    grid-area: "jonathan_walters";
    background-color: var(--Grey_400);
    padding: 35px;
    border-radius: 15px;
}

#jonathan h2{
    color: var(--Grey_100);
    font-weight: 600;
    font-size: 22px;
    margin: 20px 0px;
    line-height: 1.3;
}

#jonathan p{
    color: var(--Grey_200);
    line-height: 1.4;
}


/* Jeanette Harmon */
#jeanette{
    grid-area: "jeanette_harmon";
    background-color: var(--White);
    border-radius: 15px;
    padding: 35px;
}

#jeanette h2{
    color: var(--Grey_500);
    margin: 20px 0px;
    font-weight: 600;
}

#jeanette p{
    color: var(--Grey_400);
    line-height: 1.4;
}


/* Patrick Abrams */
#patrick{
    grid-area: "patrick_abrams";
    background-color: var(--Dark_blue);
    border-radius: 15px;
    padding: 35px;
}

#patrick h2{
    margin: 20px 0px;
    color: var(--Grey_200);
    font-weight: 500;
}

#patrick img{
    border: 2px solid var(--Purple_500);
}

#patrick p{
    color: var(--Grey_200);
    line-height: 1.4;
}

/* Kira Whittle */
#kira{
    grid-area: "kira_whittle";
    background-color: var(--White);
    padding: 35px;
    border-radius: 15px;
}

#kira h2{
    margin: 20px 0px;
    color: var(--Grey_500);
}

#kira p{
    color: var(--Grey_500);
    line-height: 1.3;
    font-weight: 500;
}

/* estilos do perfil na cor branca */
.profile_white{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 1.4rem;
    color: var(--White);
}

.profile_white img{
    border-radius: 50%;
    width: 15%;
    border: 1px solid var(--Grey_200);
}

.profile_white span{
    font-weight: 600;
    color: var(--White);
    font-size: 1.1em;
}


/* estilos do perfil na cor preta */
.profile_black{
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 1.4rem;
    color: var(--Black);
}

.profile_black img{
    border-radius: 50%;
    width: 15%;
    border: 1px solid var(--Grey_200);
}

.profile_black span{
    font-weight: 600;
    color: var(--Black);
    font-size: 1.1em;
}


/* Responsividade Desktop */
@media screen and (min-width: 1440px) {
    #container{
    width: 70%;
    gap: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira"
    ;
}
    
    #daniel{
        grid-area: daniel;
    }

    #daniel img{
        width: 9%;
    }

    #jonathan{
        grid-area: jonathan;
    }

    #kira{
        grid-area: kira;
    }

    #patrick{
        grid-area: patrick;
    }

    #patrick img{
        width: 9%;
    }

    #jeanette{
        grid-area: jeanette;
    }
   
}
